:-webkit-any(article, aside, nav, section) h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
#setup {
  background: #000;
  display: relative;
}

a {
  cursor: pointer;
  text-decoration-color: black;
  color: white;
}

#face {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.7%;
  margin-bottom: auto;
  display: block;
  transform: translate(0%, 0%);
  height: 90%;
}

h1 {
  color: #fff;
  font-family: HeadLineA;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

h2 {
  color: #fff;
  text-align: left;
  font-family: HeadLineA;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
}

h3 {
  /* margin-top: 7%; */
  color: #fff;
  /* text-align: left; */
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 100%;
  /* margin-right: 10px;*/
  z-index: 3;
}
h5 {
  /* margin-top: 7%; */
  color: #fff;
  /* text-align: left; */
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 100%;
  /* margin-right: 10px;*/
  z-index: 3;
}

h4 {
  color: #fff;
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: translate(1%, -350%);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: auto; */
  /* margin-left: auto; */
  /* margin-right: 1%; */
  padding-left: 1%;
  padding-right: 1%;
  flex-direction: row;
}

#border {
  margin-left: 1%;
  margin-bottom: 2%;
}

.box {
  width: 1493px;
  height: 709px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #fff;
}

.border2 {
  max-height: 20%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #fff;
  margin-top: -2px;
}

/* image border on first screen */
.border3 {
  width: 364px;
  height: 623px;
  flex-shrink: 0;
  border: 2px solid #fff;
  max-width: 100vw;
  margin-top: -2px;
}

#blonde1 {
  width: 90%;
  height: 40%;

  transform: translate(0%, 0%);

  padding: 5%;
}

#blonde2 {
  width: 90%;
  height: 40%;

  transform: translate(0%, 0%);

  padding: 5%;
}

#twin1 {
  width: 89%;
  height: 40%;

  transform: translate(0%, 0%);
  padding: 5%;
}

#twin2 {
  width: 90%;
  height: 55%;

  transform: translate(0%, 0%);

  padding: 5%;
}

section {
  max-width: 100vw;
  position: relative;
}
.border {
  border: 2px solid white;
}
.img-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1px;
}
.img-container img {
  width: auto;
  height: 100%;
  max-height: 470px;
}

.aboutme {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-50 {
  width: 50%;
}

.col-170 {
  width: 180%;
}

.boxtext {
  margin-top: -8%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}

.img-carosel {
  position: relative;
  padding-left: 10%;
  padding-right: 2%;
}

.border4 {
  height: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #fff;

  margin-top: 2px;
}
.rect1 {
  border: 2px solid white;
  height: 90%;
  width: auto;
  max-height: 100vw;
  margin-top: -2px;
  margin-bottom: 48px;
}

button {
  min-height: 100%;
  max-width: 100%;
  border: 1px solid #fff;
  height: 2%;
  width: 25%;
  padding-top: 1.9%;
  padding-bottom: 1.9%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#tati {
  height: 100%;
  transform: translate(30vw, 0%);
}

#tatime {
  margin-bottom: -3px;
}

spen {
  padding-left: 15%;
  padding-right: 20%;
  max-width: 45%;
  hyphens: auto;
  color: #fff;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 100%;
}

.buttondesign {
  min-height: 4%;
  max-height: 100%;
  align-content: center;
  color: black;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 100%;
  border: 1px solid #fff;
  height: 2%;
  width: 20%;
  padding-top: 1.8%;
  padding-bottom: 2%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  left: 0;
}

.buttondesign:hover {
  color: black;
  background-color: white;
  text-decoration-color: white;
}
.slider {
  width: 90%;
  height: 88%;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 50%;
  position: relative;
  transition-property: transform;
  display: block;
  border: #fff 2px solid;
}

.swiper-button-next {
  text-align: center;
  line-height: normal;
}

.swiper-button-next::after {
  display: block;
  background: none;
  color: white;
}

.swiper-button-prev::after {
  display: block;
  background: none;
  color: white;
}

.nav-button {
  max-width: 100%;
  border: 1px solid #fff;
  height: 2%;
  width: 20%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.slider-with-rectangles::before,
.slider-with-rectangles::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6%;
  height: 100%;
  background-color: black;
  z-index: 3;
  border: #fff 2px solid;
}

.slider-with-rectangles::before {
  right: 1;
  left: 0;
}

.slider-with-rectangles::after {
  right: 0;
}

#alice1 {
  margin: auto;
  height: 100%;
  width: 110%;
}

.swiper-slide2 {
  flex-shrink: 0;
  width: 100%;
  height: 50%;
  position: relative;
  transition-property: transform;
  display: block;
}

#portfolio {
  padding-left: 15%;
  width: 75%;
  height: 100%;
}

#sister {
  height: 100%;
  width: 100%;
}

.button-design-2 {
  min-height: 4%;
  max-height: 100%;
  align-content: center;
  color: white;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 100%;
  border: 1px solid #fff;
  height: 2%;
  width: 20%;
  padding-top: 1.8%;
  padding-bottom: 2%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.button-design-2:hover {
  color: black;
  background-color: white;
  text-decoration-color: white;
}
