:-webkit-any(article, aside, nav, section) h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
#setup {
  background: #000;
}
a {
  cursor: pointer;
}
#face {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: block;
  transform: translate(0%, 7%);
}

.rect1 {
}
/* #prints {
  width: 470.991px;
height: 352px;
  flex-shrink: 0;
  transform: translate(25%, 0%);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  border: 2px solid #fff;
} */

/* #finearts {
  width: 468px;
  height: 352px;
  flex-shrink: 0;
  transform: translate(75%, 0%);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  border: 2px solid #fff;
} */

h1 {
  color: #fff;
  font-family: HeadLineA;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
  margin-left: 3.8%;
}

h2 {
  color: #fff;
  text-align: left;
  font-family: HeadLineA;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
  margin-right: 34%;
  margin-left: 5%;
}

h3 {
  /* margin-top: 7%; */
  color: #fff;
  /* text-align: left; */
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 100%;
  /* margin-right: 10px;*/
}

h4 {
  color: #fff;
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: translate(1%, -350%);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: auto; */
  /* margin-left: auto; */
  /* margin-right: 1%; */
  padding-left: 1%;
  padding-right: 1%;
  flex-direction: row;
}

#border {
  margin-left: 1%;
  margin-bottom: 2%;
}

.box {
  width: 1493px;
  height: 709px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #fff;
}

/* .border {
  width: 100%;
  max-width: 100vw;
  height: 6%;
  flex-shrink: 0;
  border: 2px solid #FFF;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
  
} */

.border2 {
  height: 7%;
  /* width: 100vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 1%; */
  /* margin-left: 1%; */
  /* margin-right: 1%; */
  /* width: 1470px; */
  /* height: 66px; */
  /* flex-shrink: 0; */
  border: 2px solid #fff;
  /* margin-right: 1%;*/
  margin-top: -2px;
}

.border3 {
  width: 364px;
  height: 623px;
  flex-shrink: 0;
  border: 2px solid #fff;
  max-width: 100vw;
  margin-top: -2px;
}

#blonde1 {
  width: 319.328px;
  height: 273.956px;
  flex-shrink: 0;
  transform: translate(0%, 0%);
  box-align: center;
  padding: 5%;
}
section {
  max-width: 100vw;
  position: relative;
}
.border {
  border: 2px solid white;
}
.img-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2px;
}
.img-container img {
  width: auto;
  height: 100%;
  max-height: 350px;
}

.col-50 {
  width: 50%;
}

.boxtext {
  padding-left: 5%;
  display: flex;
  flex-direction: column-reverse;
}

.img-carosel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border4 {
  height: 3%;
  /* width: 100vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 1%; */
  /* margin-left: 1%; */
  /* margin-right: 1%; */
  /* width: 1470px; */
  /* height: 66px; */
  /* flex-shrink: 0; */
  border: 2px solid #fff;
  /* margin-right: 1%;*/
  margin-top: -2px;
  margin-bottom: -2px;
}
.rect1 {
  border: 2px solid white;
  height: 90%;
  width: auto;
  max-height: 100vw;
  margin-top: -2px;
  margin-bottom: 48px;
}

button {
  color: black;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 100%;
  border: none;
  height: 100%;
  width: 100%;
  padding-top: 14%;
  padding-bottom: 14%;
}

#tati {
  transform: translate(75%, 0%);
}
